Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a structured collection of data organized in a way that allows efficient retrieval, update, and management of information. It's a digital repository for storing and organizing data.

SQL (Structured Query Language) databases are relational, using tables with rows and columns. They excel at complex queries and maintaining data integrity.

NoSQL (Not Only SQL) databases are non-relational, offering more flexibility for handling diverse data structures. They are often used for big data applications and real-time processing.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define the structure of a database. It includes commands to create, modify, and delete database objects like tables, indexes, and views. Â  

CREATE: Used to create new database objects.
Example: CREATE TABLE Customers (CustomerID int PRIMARY KEY, CustomerName varchar(255))
DROP: Used to delete existing database objects.
Example: DROP TABLE Customers
ALTER: Used to modify the structure of existing database objects.
Example: ALTER TABLE Customers ADD Email varchar(255)
TRUNCATE: Used to remove all data from a table but keeps the table structure.
Example: TRUNCATE TABLE Customers

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate data within database tables.

INSERT: Used to add new records to a table.
Example: INSERT INTO Customers (CustomerID, CustomerName) VALUES (1, 'John Doe')
UPDATE: Used to modify existing records in a table.
Example: UPDATE Customers SET CustomerName = 'Jane Doe' WHERE CustomerID = 1
DELETE: Used to remove records from a table.
Example: DELETE FROM Customers WHERE CustomerID = 1

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.

SELECT: Used to extract data from a database and display it in a result set.
Example: SELECT * FROM Customers

Q5. Explain Primary Key and Foreign Key.

Primary Key: A unique identifier for each record in a table. It cannot contain null values.
Example: CustomerID in the Customers table.
Foreign Key: A column in one table that references the primary key in another table. It establishes a link between tables.
Example: OrderID in an Orders table referencing CustomerID in the Customers table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="your_host",
  user="your_user",
  password="your_password",
  database="your_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The typical order of execution for SQL clauses is:

FROM: Specifies the table(s) to retrieve data from.
WHERE: Filters rows based on specified conditions.
GROUP BY: Groups rows based on specified columns.
HAVING: Filters groups based on specified conditions.
SELECT: Specifies the columns to be returned.
ORDER BY: Sorts the result set.